/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & Suraj Sharma
 */

.horizontal_toolbar{
    -fx-alignment: CENTER;
}

.Combo_Box{
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1.0;
}
.vbox{
    -fx-font-size: 16pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}


.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(0, 50, 50);
    -fx-border-color: rgb(200, 200, 200);
    -fx-spacing: 5px;
    -fx-alignment: CENTER; 
}

.slide_edit_view {
    -fx-font: 16px "Times New Roman";
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(255,255,204);
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 20px;
    -fx-spacing: 60px;
}

.selected_slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(0, 50, 50);
    -fx-border-color: rgb(200, 200, 200);
    -fx-border-thickness: 100px;
    -fx-spacing: 60px;
}
.vertical_toolbar_button {
    -fx-background-color: rgb(255, 255, 255);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 1000px;
}

.horizontal_toolbar_button {
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
}
